# Ignore files and directories that should not be tracked by Git
/.vscode

/out

test/xdevice/dist/xdevice-0.0.0-py3.8.egg
vendor/hisi/hi3861/hi3861/.sconsign.dblite
vendor/hisi/hi3861/hi3861/build/build_tmp/logs/build_kernel.log
vendor/hisi/hi3861/hi3861/build/build_tmp/logs/scons_trace.log
vendor/hisi/hi3861/hi3861/ohos/libs/libauthmanager.a
vendor/hisi/hi3861/hi3861/ohos/libs/libbootstrap.a
vendor/hisi/hi3861/hi3861/ohos/libs/libbroadcast.a
vendor/hisi/hi3861/hi3861/ohos/libs/libcjson_static.a
vendor/hisi/hi3861/hi3861/ohos/libs/libcmsis.a
vendor/hisi/hi3861/hi3861/ohos/libs/libcommon_lite.a
vendor/hisi/hi3861/hi3861/ohos/libs/libdiscovery.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhal_file_static.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhal_iothardware.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhal_sysparam.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhal_token_static.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhichainsdk.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhilog_lite.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhiview_lite.a
vendor/hisi/hi3861/hi3861/ohos/libs/libhm_package_storage_system.a
vendor/hisi/hi3861/hi3861/ohos/libs/libiothardware.a
vendor/hisi/hi3861/hi3861/ohos/libs/libkal.a
vendor/hisi/hi3861/hi3861/ohos/libs/libnative_file.a
vendor/hisi/hi3861/hi3861/ohos/libs/libsamgr_adapter.a
vendor/hisi/hi3861/hi3861/ohos/libs/libsamgr_source.a
vendor/hisi/hi3861/hi3861/ohos/libs/libsamgr.a
vendor/hisi/hi3861/hi3861/ohos/libs/libsysparam.a
vendor/hisi/hi3861/hi3861/ohos/libs/libtoken_static.a
vendor/hisi/hi3861/hi3861/ohos/libs/libtrans_service.a
vendor/hisi/hi3861/hi3861/ohos/libs/libutils_kv_store.a
vendor/hisi/hi3861/hi3861/ohos/libs/libwifiservice.a
